{% include 'header.twig' %}

   <br>
<div class="wrapper-content">
    <div class="wrapper-content__header">
          </div>
    <div class="wrapper-content__body">
      <!-- Main variables *content* -->
      <div id="block_93">
    <div class="new_order-block ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row new-order-form">
                <div class="col-lg-8">
                   <div class="component_form_group component_card component_radio_button">
                      
<div id="block_85">
    <div class="faq ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="row"><br>
                                                    <div class="col-lg-12">
                                <div class="faq-block__card">
                                    <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-85-1" aria-expanded="false" aria-controls="#faq-block-85-1">
                                            <div class="faq-block__header-title">
                                                                                                    <h4>What is an Refill and how does Refill button work?</h4>
                                                                                            </div>
                                            <div class="faq-block__header-icon">
                                                <div class="style-text-dark faq-block__icon" style=""></div>
                                            </div>
                                        </div>
                                        <div class="faq-block__body collapse" id="faq-block-85-1">
                                            <div class="faq-block__body-description" style="padding-top: 8px">
                                                                                                    <p>Refill system is the guarante against the service for a period of time. During this period you can use the refill button to send the order for refill to compensate the drop.</p>
                                                                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-lg-12">
                                <div class="faq-block__card">
                                    <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-85-2" aria-expanded="false" aria-controls="#faq-block-85-2">
                                            <div class="faq-block__header-title">
                                                                                                    <h4>What is Drip Feed?</h4>
                                                                                            </div>
                                            <div class="faq-block__header-icon">
                                                <div class="style-text-dark faq-block__icon" style=""></div>
                                            </div>
                                        </div>
                                        <div class="faq-block__body collapse" id="faq-block-85-2">
                                            <div class="faq-block__body-description" style="padding-top: 8px">
                                                                                                    <p>To get natural increase on the order, you can use the dripfeed sysytem. Suppose you need 1000 likes slowly at 100 likes per 30min. Enable drip feed, add 100 as quantity, runs as 10 and interval as 30 ( always in minutes ). So you'll receive 100 likes for 10 times with 30 min interval automatically from the site no need to order manually each timr.</p>
                                                                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-lg-12">
                                <div class="faq-block__card">
                                    <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-85-3" aria-expanded="false" aria-controls="#faq-block-85-3">
                                            <div class="faq-block__header-title">
                                                                                                    <h4>How to contact Admin of the site?</h4>
                                                                                            </div>
                                            <div class="faq-block__header-icon">
                                                <div class="style-text-dark faq-block__icon" style=""></div>
                                            </div>
                                        </div>
                                        <div class="faq-block__body collapse" id="faq-block-85-3">
                                            <div class="faq-block__body-description" style="padding-top: 8px">
                                                                                                    <p>You can reach me on my Telegram <a href="https://t.me/shadow_ninja_legit" target="_blank" style="color:Tomato;" >@Shadow_ninja_legit.</a></p>
                                                                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-lg-12">
                                <div class="faq-block__card">
                                    <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-85-4" aria-expanded="false" aria-controls="#faq-block-85-4">
                                            <div class="faq-block__header-title">
                                                                                                    <h4>Why my order is pending from long time?</h4>
                                                                                            </div>
                                            <div class="faq-block__header-icon">
                                                <div class="style-text-dark faq-block__icon" style=""></div>
                                            </div>
                                        </div>
                                        <div class="faq-block__body collapse" id="faq-block-85-4">
                                            <div class="faq-block__body-description" style="padding-top: 8px">
                                                                                                    <p> Please wait at least for 24hrs, if still the order is not completed, contact me directly on my telegram or instagram .</p>
                                                                                            </div>
                                        </div>
                                    
                                                    
                                        

{% include 'footer.twig' %}
