{% include 'header.twig' %}
<div id="page-wrapper">
      <div class="inner-page-wrapper"><script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js">
      </script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
<script>
  var clipboard = new ClipboardJS('.btn');
</script>
 
<div class="container-fluid">
  <div class="well">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center" style="color:#6810af;">How Does {{ site["site_name"] }}  Affiliate Program Work</h2>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <div class="affi-wrap">
          <div class="affi-icon">
          	<i class="fas fa-user-plus"></i>
          </div>
          <div class="affi-title">
            <h2>Sign Up</h2>
          </div>
          <div class="affi-desc">
            <p>In the first step you need to sign up</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="affi-wrap">
          <div class="affi-icon">
          	<i class="fas fa-share"></i>
          </div>
          <div class="affi-title">
            <h2>Promote Our Services</h2>
          </div>
          <div class="affi-desc">
            <p>You can try to recommend our services to a friend or colleague</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="affi-wrap">
          <div class="affi-icon">
          	<i class="fas fa-wallet"></i>
          </div>
          <div class="affi-title">
            <h2>Get Paid</h2>
          </div>
          <div class="affi-desc">
            <p>You will get Commission rate on your friend's money spent, as if your friend did a $ 100 business with us, Commission rate will be given to you.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
        <div class="col-sm-12">
            
            <div class="well">
              <div class="table-responsive">
                <table class="table ">
                    <thead>
                    <tr>
                        <th>Referral link</th>
                        <th>Commission rate</th>
                        <th>Minimum payout</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a id="referal-link" type="button" class="btn btn-defualt affi-btn" data-toggle="modal" data-target="#exampleModal">https://amzpro.in/ref/e4tnh </a><button class="btn referal-btn" data-clipboard-text="https://amzpro.in/ref/e4tnh">
    Copy Referral link
</button></td>
                        <td>5%</td>
                        <td>$100.00</td>
                    </tr>
                    </tbody>
                </table>
              </div>
            </div>
            <div class="well">
              <div class="table-responsive">
                <table class="table ">
                    <thead>
                    <tr>
                        <th>Total visits</th>
                        <th>Unpaid referrals</th>
                        <th>Paid referrals</th>
                        <th>Conversion rate</th>
                        <th>Total earnings</th>
                        <th>Unpaid earnings</th>
                                            </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0%</td>
                        <td>$0.00</td>
                        <td>$0.00</td>
                                            </tr>
                    </tbody>
                </table>
              </div>
            </div>

            
                    </div>
    </div>
</div>



<div class="modal fade share-body" id="exampleMoal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title" id="exampleModalLabel">Share SmmWorldPanel</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
            <div class="modal-body">
        <div class="row">
          <div class="col-sm-3">
            <a href="https://www.facebook.com/sharer.php?u=https://smmworldpanel.com/ref/e4tnh" target="_blank">
              <i class="fab fa-facebook-square"></i>
              <span>Facebook</span>
            </a>
          </div>
          <div class="col-sm-3">
            <a href="https://twitter.com/intent/tweet?url=https://smmworldpanel.com/ref/e4tnh" target="_blank">
              <i class="fab fa-twitter"></i>
              <span>Twitter</span>
            </a>
          </div>

         


 <div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
                            <div class="well well-float ">
                    <h4><span style="font-size: 14px;">Allude your Friends to utilize SmmWorldPanel.com with your Unique connection and get a 3% commission on whatever they Order</span><b style="font-size: 14px;">!</b><br></h4><p><font color="#0000ff">Terms</font> <font color="#ff0000">Warning</font><b>:</b> We pay just for new clients. Any re-enlistment and misuse will be rejected and your referral record will be suspended<b>!</b><br></p>
                </div>
                        <div class="well well-float">
                <table class="table ">
                    <thead>
                    <tr>
                        <th>Referral link</th>
                        <th>Commission rate</th>
                        <th>Minimum payout</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>https://amzpro.in/ref/e4tnh</td>
                        <td>5%</td>
                        <td>$100.00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="well well-float">
                <table class="table ">
                    <thead>
                    <tr>
                        <th>Total visits</th>
                        <th>Unpaid referrals</th>
                        <th>Paid referrals</th>
                        <th>Conversion rate</th>
                        <th>Total earnings</th>
                        <th>Unpaid earnings</th>
                                            </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0%</td>
                        <td>$0.00</td>
                        <td>$0.00</td>
                                            </tr>
                    </tbody>
                </table>
            </div>

            
                    </div>
    </div>
</div> </div>
{% include 'footer.twig' %}