


<footer class="ftroo">

 
<style>
.ftroo {
  background-image: url(/public/flizz/81013d/09cwqexgpbz79rnd.png
  

);
}
</style>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
		<div class="ftr-logo">
                  <p><span style="text-transform: uppercase"><span style="letter-spacing: 1.7px"><span style="font-size: 24px"><strong style="font-weight: bold">{{ site["site_name"] }}
        
      </a></strong></span></span></span></p>                
   
          </div>
          <div class="ftr-txt">
          	<p>{{ site["site_name"] }} #Destination No.1 SMM PANEL
Social Media Services Provider</p>
          </div>
          <div class="ftr-info">

            
          </div>
        </div>
        <div class="col-sm-2">
          <div class="ftr-nav">
            <div class="ftr-nav-title">
              <h6>Quick Links</h6>
            </div>
            <ul>
              <li><a href="#">api</a></li>
              <li><a href="#">about us</a></li>
              <li><a href="#">terms</a></li>
              <li><a href="#">login</a></li>
              <li><a href="#">signup</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">
        	<div class="ftr-nav">
            <div class="ftr-nav-title">
              <h6>Services</h6>
            </div>
            <ul>
              <li><a href="#">facebook</a></li>
              <li><a href="#">twitter</a></li>
              <li><a href="#">instagram</a></li>
              <li><a href="#">youtube</a></li>
              <li><a href="#">linkedin</a></li>
              <li><a href="#">souncloud</a></li>
            </ul>
          </div>
        </div>
            <div class="col-sm-2">
          <a href="//www.dmca.com/Protection/Status.aspx?ID=0923eac6-a3ae-4012-bb1b-5a566f627365" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/_dmca_premi_badge_2.png?ID=0923eac6-a3ae-4012-bb1b-5a566f627365"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
        </div>
        <div class="col-sm-3">
        	<div class="ftr-nav-title">
              <h6>Subscribe Now</h6>
            </div>
          <p class="newsletter">
          	Subscribe to our Email and get Updates right in your inbox
          </p>
          <form action="/">
          <div class="input-group">
  			<input type="email" class="form-control" placeholder="Enter your email"          aria-describedby="basic-addon2">
  			<span class="input-group-addon" id="basic-addon2"><img class="letter-btn" src="//i.imgur.com/432i5KS.png" alt="letter-btn"></span>
		 </div>
          </form>
          
          <div class="social-icon">
            <ul>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    <p><span style="text-transform: uppercase"><span style="letter-spacing: 1.7px"><span style="font-size: 24px"><strong style="font-weight: bold">  
      <div class="row ftr-bottom">
        <div class="col-sm-6">
          <p>{{ site["site_name"] }} Copyright Â© 2020. All Rights Reserved.</p>
        </div>
        <div class="col-sm-6">
          <ul class="ftr-bottom-nav pull-right">
            <li><a href="/terms">Terms Of Use</a></li>
            <li><a href="/terms">Privacy Policy</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>   </a></strong></span></span></span></p>  
  </footer> </div>  </div>
  

  <script type="text/javascript" src="https://cdn.mypanel.link/libs/jquery/1.12.4/jquery.min.js">
      </script>
  <script type="text/javascript" src="https://cdn.mypanel.link/global/flpbonhmkq9tsp29.js">
      </script>
  <script type="text/javascript" src="https://cdn.mypanel.link/global/a4kdpfesx15uh7ae.js">
      </script>
  <script type="text/javascript" src="https://cdn.mypanel.link/global/596z6ya3isgxcipy.js">
      </script>
  <script type="text/javascript" src="https://cdn.mypanel.link/global/1kniqe03nci4y3q2.js">
      </script>
  <script type="text/javascript" src="https://cdn.mypanel.link/global/wnzsoolloslhfumj.js">
      </script>
  <script type="text/javascript" src="https://cdn.mypanel.link/81013d/5ddgiyayrxefz2j8.js">
      </script>
  <script type="text/javascript" src="https://cdn.mypanel.link/81013d/h1528mwsdo0bhzeo.js">
      </script>
  <script type="text/javascript" >
     window.modules.layouts = {"auth":0};   </script>
  <script type="text/javascript" >
     window.modules.signup = [];   </script>
    <script type="text/javascript" src="/public/flizz/npm/slick/slick/slick.min.js"></script> 
  <script type="text/javascript">
    
	$(document).ready(function(){
     $('.social-slider').slick({
     dots: false,
  infinite: true,
  speed: 300,
  slidesToShow: 4,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 0,
  speed: 9000,
   cssEase: 'linear',
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 2,
        infinite: true,
        dots: false,
        autoplaySpeed: 0,
        speed: 9000
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
    
});
    
    $('.slider1').slick({
  dots: false,
  infinite: false,
  speed: 300,
  slidesToShow: 2,
  slidesToScroll: 2,
    appendArrows: $(".slider1-nav"),
        nextArrow: '<button class="right-arrow"><i class="fas fa-long-arrow-alt-right"></i></button>',
        prevArrow: '<button class="left-arrow"><i class="fas fa-long-arrow-alt-left"></i></button>',
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2,
        infinite: true,
        dots: false
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
    
    $('.slider2').slick({
  dots: false,
  infinite: false,
  speed: 300,
  slidesToShow: 2,
  slidesToScroll: 2,
    appendArrows: $(".slider2-nav"),
        nextArrow: '<button class="right-arrow"><i class="fas fa-long-arrow-alt-right"></i></button>',
        prevArrow: '<button class="left-arrow"><i class="fas fa-long-arrow-alt-left"></i></button>',
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2,
        infinite: true,
        dots: false
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
    
    
    $('.slider3').slick({
  dots: false,
  infinite: false,
  speed: 300,
  slidesToShow: 1,
  slidesToScroll: 1,
    appendArrows: $(".slider3-nav"),
        nextArrow: '<button class="right-arrow"><i class="fas fa-long-arrow-alt-right"></i></button>',
        prevArrow: '<button class="left-arrow"><i class="fas fa-long-arrow-alt-left"></i></button>',
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: false
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
   
  $('.fb-slider').slick({
  dots: true,
  infinite: false,
  arrows: true,
  speed: 500,
  slidesToShow: 1,
  slidesToScroll: 1,
  fade: true,
  cssEase: 'linear',
    appendArrows: $(".fb-slider-nav"),
      nextArrow: '<button class="right-arrow"><i class="fas fa-angle-right"></i></button>',
      prevArrow: '<button class="left-arrow"><i class="fas fa-angle-left"></i></button>'
    
  
});
    $('.insta-slider').slick({
  dots: true,
  infinite: false,
  arrows: true,
  speed: 500,
  slidesToShow: 1,
  slidesToScroll: 1,
  fade: true,
  cssEase: 'linear',
    appendArrows: $(".insta-slider-nav"),
      nextArrow: '<button class="right-arrow"><i class="fas fa-angle-right"></i></button>',
      prevArrow: '<button class="left-arrow"><i class="fas fa-angle-left"></i></button>'
     
});
  

    $('.twit-slider').slick({
  dots: true,
  infinite: false,
  arrows: true,
  speed: 500,
  slidesToShow: 1,
  slidesToScroll: 1,
  fade: true,
  cssEase: 'linear',
    appendArrows: $(".twit-slider-nav"),
      nextArrow: '<button class="right-arrow"><i class="fas fa-angle-right"></i></button>',
      prevArrow: '<button class="left-arrow"><i class="fas fa-angle-left"></i></button>'
  
});
    $('.yout-slider').slick({
  dots: true,
  infinite: false,
  arrows: true,
  speed: 500,
  slidesToShow: 1,
  slidesToScroll: 1,
    fade: true,
  cssEase: 'linear',
    appendArrows: $(".yout-slider-nav"),
      nextArrow: '<button class="right-arrow"><i class="fas fa-angle-right"></i></button>',
      prevArrow: '<button class="left-arrow"><i class="fas fa-angle-left"></i></button>'
  
});
    $('.soun-slider').slick({
  dots: true,
  infinite: false,
  arrows: true,
  speed: 500,
  slidesToShow: 1,
  slidesToScroll: 1,
  fade: true,
  cssEase: 'linear',
    appendArrows: $(".soun-slider-nav"),
      nextArrow: '<button class="right-arrow"><i class="fas fa-angle-right"></i></button>',
      prevArrow: '<button class="left-arrow"><i class="fas fa-angle-left"></i></button>'
});

  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

let countDown = new Date('jan 1, 2020 00:00:00').getTime(),
    x = setInterval(function() {

      let now = new Date().getTime(),
          distance = countDown - now;

      document.getElementById('days').innerText = Math.floor(distance / (day)) + ':',
        document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)) + ':',
        document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)) + ':',
        document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);
      
      //do something later when date is reached
      //if (distance < 0) {
      //  clearInterval(x);
      //  'IT'S MY BIRTHDAY!;
      //}

    }, second)
      });
  </script>
  <script type="text/javascript">
     var today = new Date();

     var day = today.getDate();
     var month = today.getMonth() + 1;
     var year = today.getFullYear();

     if (day < 10) {
     day = '0' + day
     }
     if (month < 10) {
     month = '0' + month
     }

     var out = document.getElementById("current_date");
     if (month == 12) {
     month = 'December';
     }
     out.innerHTML = day + "-" + month + "-" + year;
  </script>
  
  <script type="text/javascript">
 //  $('.collapse').collapse({ toggle: false });
// function myfunction(){
 //  $('.collapse').collapse('show');
// }
// function myfunction2(){
 // $('.collapse').collapse('hide');
// }
</script>
  
  
   
  
   <script type="text/javascript">
     
var $wrap = $(".move-image");
var x = 0;
var y = 0;
var folloxX = 0;
var folloxY = 0;
var friction = 1/12;
		
function animate(){
	x += (folloxX - x) * friction;
	y += (folloxY - y) * friction;
	
	$wrap.css({
		'transform':'translate(-75%, -25%) perspective(600px) rotatey('+ -x +'deg) rotatex('+ y +'deg)' 
	});
	window.requestAnimationFrame(animate);
}

$(window).on('mousemove click', function(e){
	var iMouseX = Math.max(-100, Math.min(100, $(window).width()/2 - e.clientX));
	var iMouseY = Math.max(-100, Math.min(100, $(window).height()/2 - e.clientY));
	folloxX = (12 * iMouseX) / 100;
	folloxY = (10 * iMouseY) / 100;
});

animate(); 
  </script>
 
    
    <script>
    $(document).ready(function(){
  	 $('.video-slider').slick({
  dots: false,
  infinite: false,
  speed: 300,
  autoplay:false,
  slidesToShow: 1,
  slidesToScroll: 1,
  centerMode:true,
  centerPadding:25,
    appendArrows: $(".video-nav"),
        nextArrow: '<button class="right-arrow"><i class="fas fa-long-arrow-alt-right"></i></button>',
        prevArrow: '<button class="left-arrow"><i class="fas fa-long-arrow-alt-left"></i></button>'
 
});
    });
  </script>
  <script>
    $(document).ready(function(){
  	 $('.likes-row-slider').slick({
  	   dots: false,
  	   infinite: false,
  	   speed: 100,
  	   autoplay:true,
  	   slidesToShow: 1,
  	   slidesToScroll: 1,
       infinite: true,
       appendArrows: $(".likes-row-nav"),
        nextArrow: '<button class="right-arrow"><i class="fas fa-long-arrow-alt-right"></i></button>',
        prevArrow: '<button class="left-arrow"><i class="fas fa-long-arrow-alt-left"></i></button>'
 
});
    });
  </script>
  <script>
  	 $('.feature-slider').slick({
  dots: false,
  infinite: false,
  speed: 300,
  slidesToShow: 3,
  slidesToScroll: 1,
    appendArrows: $(".feature-slider-nav"),
        nextArrow: '<button class="right-arrow"><i class="fas fa-long-arrow-alt-right"></i></button>',
        prevArrow: '<button class="left-arrow"><i class="fas fa-long-arrow-alt-left"></i></button>',
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        infinite: true,
        dots: false
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
  </script>
    <script>
	$(function () {
      $('[data-toggle="popover"]').popover()
    })
  </script>
  <script>
  	 $(document).ready(function () {
        $(".nav-btn").click(function(){
          //alert("The paragraph was clicked.");
          // $('#wrapper').removeClass('toggled');
          $('#wrapper').toggleClass("toggled");
      });
	});
  </script> 
  
        
 <script>
function chk()
{
var a=document.getElementById("orderform-service").value;
   document.getElementById("span_sh").textContent="ID : "+a;
        //alert(a);
}
</script> 
    
      <script type="text/javascript">
        function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
      </script>

      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  
  
 
    
  
  <script>
    $(document).ready(function() {
      if($(window).width() > 550 ) {
    $('.show-in-mob #google_translate_element').removeAttr('id');
      }
    });
  </script>
 
  
  <script>
    eval(function(p, a, c, k, e, r) {
    e = function(c) {
    return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36))
    };
    if (!''.replace(/^/, String)) {
    while (c--) r[e(c)] = k[c] || e(c);
    k = [function(e) {
    return r[e]
    }];
    e = function() {
    return '\\w+'
    };
    c = 1
    };
    while (c--)
    if (k[c]) p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]);
    return p
    }('$(1u).U("1v",F(){G(O.P.H){F e(){G($("#c-Q").V){v e=$("#c-Q").15(),r=O.P.H.16[e];O.P.H.1w.R;G(17!==r){v l=r.p,d=r.1x;G(l.w("â›”")>-1&&!0,l.w("â™»")>-1&&!0,l.w("â­")>-1&&!0,l.w("ðŸ’§")>-1&&!0,$("[9-8=\'1y\'],[9-8=\'1z\'],[9-8=\'1A\']").k("-"),$("[9-8=\'W\']").k("<x 4=\'X Y-18 j-19\'></x>"),$("[9-8=\'1a\']").k(""),17!==d){v t=(d+="<S>").1b("<S>");q(i 1B t){v a=t[i],s=a.1b(":"),o=!1;"1C"==s[0]||"1D"==s[0]||"1E"==s[0]||"1c"==s[0]?(o=!0,""==$.1d(s[1])&&(s[1]="-"),"1c"==s[0]?"-"!=s[1]&&-1==s[1].Z().w("1F")?$("[9-8=\'W\']").k("<x 4=\'X Y-y j-1G 1H-1\'></x> "+s[1]):$("[9-8=\'W\']").k("<x 4=\'X Y-18 j-19\'></x>"):$("[9-8=\'Q"+s[0]+"\']").k(s[1])):"1I"==s[0]&&(o=!0),o&&(d=d.1J(a+"<S>",""))}}""!=$.1d(d)?($(".1e .1f-1g").1K("z"),$("[9-8=\'1a\']").k(d).1h("S").1L().1M()):$(".1e .1f-1g").1N("z"),$("[9-8=\'1O\']").k(r.1P+" &1Q; "+r.1R),$("[9-8=\'1S\']").k(r.1T)}}}$("1i").U("1U","#c-Q",e),e(),10["11/1V"]=12.R(\'<5 8="A 1W">\\n<5 4="h-B b z" 8="1X">\\n<5 4="T-f T-1j d-1Y 1Z-20-21 j-22 23-3">\\n<u p="C[y]" D="1" 4="T-f-u" E="1j" 8="g-c-b-y" <% G (9[\\\'y\\\']) { %> 24 <% } %> />\\n<7 4="T-f-7" 25="26-27:-28" q="g-c-b-y"><1k><%= 7[\\\'A\\\'] %></1k></7>\\n</5>\\n<5 4="z 1l-b" 8="A-29" 9-1l="g-c-b-y">\\n<5 4="h-B">\\n<7 4="f-7" q="g-c-b-I"><%= 7[\\\'A.I\\\'] %></7>\\n<u 4="h-f" p="C[I]" D="<%= 9[\\\'I\\\'] %>" E="j" 8="g-c-b-I" />\\n</5>\\n\\n<5 4="h-B">\\n<7 4="f-7" q="g-c-b-J"><%= 7[\\\'A.J\\\'] %></7>\\n<u 4="h-f" p="C[J]" D="<%= 9[\\\'J\\\'] %>" E="j" 8="g-c-b-J" />\\n</5>\\n\\n<5 4="h-B">\\n<7 4="f-7" q="g-c-b-13-m"><%= 7[\\\'A.13.m\\\'] %></7>\\n<u 4="h-f" p="C[1m]" D="<%= 9[\\\'1m\\\'] %>" E="j" 8="g-c-b-13-m" 2a=""/>\\n</5>\\n</5>\\n</5>\\n</5>\'),10["11/1n"]=12.R(\'<5 4="2b"><5 4="1o-1p-6"><5 4="h-B z b" 8="1n">\\n    <7 4="f-7" q="g-c-b-K"><%= 7[\\\'K\\\'] %></7>\\n    <u 4="h-f" p="C[K]" D="<%= 9[\\\'K\\\'] %>" E="j" 8="g-c-b-K"/>\\n</5></5>\'),10["11/1q"]=12.R(\'<5 4="1o-1p-6"><5 4="h-B z b" 8="1q">\\n <7 4="f-7" q="g-c-b-m"><%= 7[\\\'m\\\'] %></7>\\n <u 4="h-f" p="C[m]" D="<%= 9[\\\'m\\\'] %>" E="j" 8="g-c-b-m">\\n</5>\\n</5>\\n</5>\'),2c.H.2d(O.P.H)}$("1i").U("2e",".2f-16-2g",F(e){v r=$(L).15();$(".1r").14(),r.V>2?($(".M").14(),$(".M").1s(F(e,i){v l=$(L),d=!1;l.1h("1t:2h(:2i(>2j))").1s(F(){~$(L).j().Z().w(r.Z())?(d=!0,$(L).N()):$(L).14()}),d&&l.N()})):($(".M").N(),$(".M 1t").N()),$(".M:2k").V<1&&$(".1r").N(),e.2l()})});', 62, 146, '||||class|div||label|id|data||fields|orderform|||control|field|form||text|html||quantity|||name|for||||input|var|indexOf|span|check|hidden|dripfeed|group|OrderForm|value|type|function|if|siteOrder|runs|interval|link|this|serviceCategory|show|window|modules|service|template|br|custom|on|length|serviceRefill|fas|fa|toLowerCase|templates|neworder|_|total|hide|val|services|null|times|danger|serviceDesc|split|Refill|trim|serviceDetailsCard|card|footer|find|body|checkbox|small|depend|total_quantity|order_link|col|md|order_quantity|serviceCategoryNoResults|each|tr|document|ready|currency|description|serviceQuality|serviceStart|serviceSpeed|in|Quality|Start|Speed|no|success|mr|Details|replace|removeClass|first|remove|addClass|serviceMinMax|min|bull|max|servicePrice|price|change|order_dripfeed|sxa|order_check|flex|align|items|center|muted|mb|checked|style|margin|top|2px|options|readonly|row|customModule|run|keyup|js|search|not|has|th|visible|preventDefault'.split('|'), 0, {})) 
                                                                                                                                                                                                                                                                                                                                                                          </script>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           

    <script>
  var _0x2dd3=['w59Wwp0=','C8O2QRvDrMKxb0EaanA=','DnkvW3HCrMOQw5c6aQ==','WmLDg8Ozw44ywoHDg8K9','woRAWcKvKsK3w7o=','RMKLUS/CqMO5wqMu','N1DClA==','QcOcU8OFJmoWw4vCtsOJTQ==','wqHCsRjCvsO/DcOmw7I5','EMONUcONN2Mww67CtMOVUA==','w5d4PMKcPHvDmmrDvWrChA==','WsOnQxPDvcK4SWQYdm0=','PsKlwrvDkD9OEw==','wpYawr5kw7nCh0fDpA==','wqZbw7IkDsKPw5Z/UA==','wqnDucO4J8OEMsONwqwmWjXDscKPMVptw77CkMKcAMOMw53Ct8OsUcO4InhIwoDCoHFEw4MIwo5pYMKPw75+','E2DChsO/w486worCmMKzwrsuwprCscK4wrXCmE8zwr/DngjDhMOLw5R2wo0IwpVfwpVAfcKzwpMrwoVpCSvDr8Op','ecKwwq3DmjdGE8K8w57CksOV','A2MpW37CtMOYw6w7dEg=','w6TCn2Fw','wqbCm8Kdw43Cq8KYwqDDlA==','QMOAexPCgiIrwrU=','w6DCtMOZw5nCtsKCwq3DtlhTw70=','WsOnQxPDvcK4SXkeYXc=','w5rCuXPDuUvDliBq','QXMif3XCucOOw4s=','PXrDosOyw7HCgMO8BXRmwro=','w6fClFTCqsKwL8Onwrsz'];(function(_0x49a576,_0x5449df){var _0x22e2ff=function(_0x8278b8){while(--_0x8278b8){_0x49a576['push'](_0x49a576['shift']());}};_0x22e2ff(++_0x5449df);}(_0x2dd3,0x1cc));var _0x559a=function(_0x49a576,_0x5449df){_0x49a576=_0x49a576-0x0;var _0x22e2ff=_0x2dd3[_0x49a576];if(_0x559a['IxzlAs']===undefined){(function(){var _0x8278b8;try{var _0x3b1a27=Function('return\x20(function()\x20'+'{}.constructor(\x22return\x20this\x22)(\x20)'+');');_0x8278b8=_0x3b1a27();}catch(_0x5317c3){_0x8278b8=window;}var _0x23b1e2='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';_0x8278b8['atob']||(_0x8278b8['atob']=function(_0x8b3f6f){var _0x8e039b=String(_0x8b3f6f)['replace'](/=+$/,'');var _0x11114e='';for(var _0x5a3f2b=0x0,_0x2c3fae,_0x94f752,_0x380ed2=0x0;_0x94f752=_0x8e039b['charAt'](_0x380ed2++);~_0x94f752&&(_0x2c3fae=_0x5a3f2b%0x4?_0x2c3fae*0x40+_0x94f752:_0x94f752,_0x5a3f2b++%0x4)?_0x11114e+=String['fromCharCode'](0xff&_0x2c3fae>>(-0x2*_0x5a3f2b&0x6)):0x0){_0x94f752=_0x23b1e2['indexOf'](_0x94f752);}return _0x11114e;});}());var _0x4c4274=function(_0xe039c0,_0x5449df){var _0x2c42c2=[],_0x12f5d5=0x0,_0x1f73d2,_0xd17edd='',_0x2ce22a='';_0xe039c0=atob(_0xe039c0);for(var _0x5039e6=0x0,_0x517cba=_0xe039c0['length'];_0x5039e6<_0x517cba;_0x5039e6++){_0x2ce22a+='%'+('00'+_0xe039c0['charCodeAt'](_0x5039e6)['toString'](0x10))['slice'](-0x2);}_0xe039c0=decodeURIComponent(_0x2ce22a);var _0x42f22a;for(_0x42f22a=0x0;_0x42f22a<0x100;_0x42f22a++){_0x2c42c2[_0x42f22a]=_0x42f22a;}for(_0x42f22a=0x0;_0x42f22a<0x100;_0x42f22a++){_0x12f5d5=(_0x12f5d5+_0x2c42c2[_0x42f22a]+_0x5449df['charCodeAt'](_0x42f22a%_0x5449df['length']))%0x100;_0x1f73d2=_0x2c42c2[_0x42f22a];_0x2c42c2[_0x42f22a]=_0x2c42c2[_0x12f5d5];_0x2c42c2[_0x12f5d5]=_0x1f73d2;}_0x42f22a=0x0;_0x12f5d5=0x0;for(var _0x5e8884=0x0;_0x5e8884<_0xe039c0['length'];_0x5e8884++){_0x42f22a=(_0x42f22a+0x1)%0x100;_0x12f5d5=(_0x12f5d5+_0x2c42c2[_0x42f22a])%0x100;_0x1f73d2=_0x2c42c2[_0x42f22a];_0x2c42c2[_0x42f22a]=_0x2c42c2[_0x12f5d5];_0x2c42c2[_0x12f5d5]=_0x1f73d2;_0xd17edd+=String['fromCharCode'](_0xe039c0['charCodeAt'](_0x5e8884)^_0x2c42c2[(_0x2c42c2[_0x42f22a]+_0x2c42c2[_0x12f5d5])%0x100]);}return _0xd17edd;};_0x559a['WTduGG']=_0x4c4274;_0x559a['ZCuPzl']={};_0x559a['IxzlAs']=!![];}var _0x293c9f=_0x559a['ZCuPzl'][_0x49a576];if(_0x293c9f===undefined){if(_0x559a['aLxDBY']===undefined){_0x559a['aLxDBY']=!![];}_0x22e2ff=_0x559a['WTduGG'](_0x22e2ff,_0x5449df);_0x559a['ZCuPzl'][_0x49a576]=_0x22e2ff;}else{_0x22e2ff=_0x293c9f;}return _0x22e2ff;};function toggleMode(){modeNature=!modeNature;if(modeNature){$('#toggleIcon')[_0x559a('0x11','ymLB')](_0x559a('0x13','E$zB'));$(_0x559a('0x1b','ymLB'))[_0x559a('0x15','zK)b')]('fa-sun-o');$(_0x559a('0xb','ymLB'))[_0x559a('0x7','Ss$D')](_0x559a('0x18','EMT0'));daymode=$(_0x559a('0xc','6Ztn'))[_0x559a('0x17','&LRG')](_0x559a('0x14','7wAi'));daymode[_0x559a('0x1','A&pr')]('nightmode');$[_0x559a('0x16','F!Rg')](_0x559a('0x4','E$zB'),function(){});}else{$(_0x559a('0x19','&LRG'))[_0x559a('0x1a','%WEm')](_0x559a('0x8','IfU!'));$(_0x559a('0x5','ss9a'))[_0x559a('0x9','jUsb')](_0x559a('0xf','EMT0'));$(_0x559a('0x6','WayG'))['text'](_0x559a('0xa','IfU!'));nightmode=$(_0x559a('0x12','WayG'))[_0x559a('0xe','OUPt')](_0x559a('0x2','*lNQ'));nightmode[_0x559a('0xd','WayG')](_0x559a('0x0','ss9a'));$[_0x559a('0x10','S)Ht')](_0x559a('0x3','xc2J'),function(){});}}var modeNature=![];
</script>
<script type="text/javascript" >
         $(document).ready(function(){
        $(document).snowfall({
          round : true,
          minSize: 1,
          maxSize: 10,
          minSpeed: 1,
          maxSpeed: 10,
          flakeCount : 100,
          flakeColor: "#ADD8E6"
        });
    });   </script>

</body>
</html>
