 {% include 'header.twig' %}
    <div id="page-wrapper">
      <div class="inner-page-wrapper"><style>
  .inner-page.top-spacing {
  padding-top: 0;
  }
</style>

<section id="give-bnr">
  <div class="container">
    <div class="row title-row">
      <div class="col-sm-12">
        <h2>Earn Money With Us</h2>
        <h3>Giveaway</h3>
        <p class="txt">Earn money every day by sharing about us in<br> social media, also use your affiliate link.</p>
      </div>
    </div>
    <div class="cloudy-wrap">
      <img class="boy-search" src="https://res.cloudinary.com/besabo/image/upload/v1586768125/smmwolrdpanel/compress/boysearch.png" alt="boy-search">
      <img class="coin1" src="https://res.cloudinary.com/besabo/image/upload/v1586768126/smmwolrdpanel/compress/coin.png" alt="coin1">
      <img class="coin2" src="https://res.cloudinary.com/besabo/image/upload/v1586768126/smmwolrdpanel/compress/coin.png" alt="coin2">
      <img class="boy-tblt" src="https://res.cloudinary.com/besabo/image/upload/v1586768127/smmwolrdpanel/compress/boy-tblt.png" alt="boy-tblt">
    </div>
    <div class="row title-row give-title-row">
      <div class="col-sm-12">
        <h2>How it Works?</h2>
        <p>Scroll Down To See How Can You Earn Free<br> Balance</p>
        <img class="give-mouse" src="https://i.imgur.com/wIyIAtp.png">
      </div>
    </div>
  </div>
</section>
<section id="social-sec">
  <div class="container">
    <div class="row">
      <ul class="social-sec">
        <li><p>Post</p></li>
        <li><p>Blog</p></li>
        <li><p>Email</p></li>
        <li><p>Video</p></li>
        <li><p>Affiliate Link</p></li>
      </ul>
      <div class="social-sec-img">
      	<img class="img-responsive" src="https://i.imgur.com/Ce3hGC9.png">
      </div>
    </div>
  </div>
</section>
<section id="make-video">
  <div class="container">
  	<div class="row title-row">
      <div class="col-sm-12">
        <h2>Earn Money With Making Video</h2>
        <h3>Making Video <span class="price"><span class="badge badge-earn">EARN</span>$2</span></h3>
        <p class="txt">Create Any video about our panel and share it any social media <br>than you can earn $2</p>
      </div>
    </div>
    <div class="row giveaway-crd-row">
      <div class="col-sm-4">
        <div class="giveaway-crd-wrap">
          <div class="giveaway-crd-head">
            <div class="crd-head-left">
            	<img class="img-responsive" src="https://i.imgur.com/KVJ1p6K.png">
            </div>
            <div class="crd-head-right">
            	<span class="price"><span class="badge badge-earn">EARN</span>$2</span>
            </div>
          </div>
          <div class="giveaway-crd-body">
            <h3 class="crd-title">Make a Complete Video</h3>
            <p>How To Use {{ site["site_name"] }}</p>
          </div>
        </div>
        <p class="giveaway-crd-txt">And Share it On Social Media Platforms</p>
      </div>
      <div class="col-sm-4">
        <div class="giveaway-crd-wrap">
          <div class="giveaway-crd-head">
            <div class="crd-head-left">
            	<img class="img-responsive" src="https://i.imgur.com/KVJ1p6K.png">
            </div>
            <div class="crd-head-right">
            	<span class="price"><span class="badge badge-earn">EARN</span>$2</span>
            </div>
          </div>
          <div class="giveaway-crd-body">
            <h3 class="crd-title">Make a Complete Video</h3>
            <p>How To Create New Order </p>
          </div>
        </div>
        <p class="giveaway-crd-txt">And Share it On Social Media Platforms</p>
      </div>
      <div class="col-sm-4">
        <div class="giveaway-crd-wrap">
          <div class="giveaway-crd-head">
            <div class="crd-head-left">
            	<img class="img-responsive" src="https://i.imgur.com/KVJ1p6K.png">
            </div>
            <div class="crd-head-right">
            	<span class="price"><span class="badge badge-earn">EARN</span>$2</span>
            </div>
          </div>
          <div class="giveaway-crd-body">
            <h3 class="crd-title">Make a Complete Video</h3>
            <p>How To Add Funds</p>
          </div>
        </div>
        <p class="giveaway-crd-txt">And Share it On Social Media Platforms</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="text-center giveaway-full-txt">You can uplaod these on video on any platform like <br>youtube , facebook , instagram ,twitter, tiktok or any platform you like </p>
      </div>
    </div>
  </div>
</section>
<section id="make-video" class="making-blog">
  <div class="container">
  	<div class="row title-row">
      <div class="col-sm-12">
        <h2>Earn Money With Blog Writing Video</h2>
        <h3>Making Blog <span class="price"><span class="badge badge-earn">EARN</span>$2</span></h3>
        <p class="txt">Create Any video about our panel and share it any social media <br>than you can earn $2</p>
      </div>
    </div>
    <div class="row giveaway-crd-row">
      <div class="col-sm-4">
        <div class="giveaway-crd-wrap">
          <div class="giveaway-crd-head">
            <div class="crd-head-left">
            	<img class="img-responsive" src="https://i.imgur.com/KVJ1p6K.png">
            </div>
            <div class="crd-head-right">
            	<span class="price"><span class="badge badge-earn">EARN</span>$2</span>
            </div>
          </div>
          <div class="giveaway-crd-body">
            <h3 class="crd-title">Write a 1 Blog And Post it</h3>
            <p>How To Use {{ site["site_name"] }}</p>
          </div>
        </div>
        <p class="giveaway-crd-txt">And Share it On Social Media Platforms</p>
      </div>
      <div class="col-sm-4">
        <div class="giveaway-crd-wrap">
          <div class="giveaway-crd-head">
            <div class="crd-head-left">
            	<img class="img-responsive" src="https://i.imgur.com/KVJ1p6K.png">
            </div>
            <div class="crd-head-right">
            	<span class="price"><span class="badge badge-earn">EARN</span>$3</span>
            </div>
          </div>
          <div class="giveaway-crd-body">
            <h3 class="crd-title">Write a 2 Blog And Post it</h3>
            <p>How To Create New Order </p>
          </div>
        </div>
        <p class="giveaway-crd-txt">And Share it On Social Media Platforms</p>
      </div>
      <div class="col-sm-4">
        <div class="giveaway-crd-wrap">
          <div class="giveaway-crd-head">
            <div class="crd-head-left">
            	<img class="img-responsive" src="https://i.imgur.com/KVJ1p6K.png">
            </div>
            <div class="crd-head-right">
            	<span class="price"><span class="badge badge-earn">EARN</span>$4</span>
            </div>
          </div>
          <div class="giveaway-crd-body">
            <h3 class="crd-title">Write a 3 Blog And Post it</h3>
            <p>How To Add Funds</p>
          </div>
        </div>
        <p class="giveaway-crd-txt">And Share it On Social Media Platforms</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="text-center giveaway-full-txt">You can uplaod these on video on any platform like <br>youtube , facebook , instagram ,twitter, tiktok or any platform you like </p>
      </div>
    </div>
  </div>
</section>
<section id="make-video" class="refere-freind">
  <div class="container">
  	<div class="row title-row">
      <div class="col-sm-12">
        <h2>Earn Money With Refer a Freind Video</h2>
        <h3>Refer a Friend  <span class="price"><span class="badge badge-earn">EARN</span>$2</span></h3>
        <p class="txt">Create Any video about our panel and share it any social media <br>than you can earn $2</p>
      </div>
    </div>
    <div class="row giveaway-crd-row">
      <div class="col-sm-4">
        <div class="giveaway-crd-wrap">
          <div class="giveaway-crd-head">
            <div class="crd-head-left">
            	<img class="img-responsive" src="https://i.imgur.com/KVJ1p6K.png">
            </div>
            <div class="crd-head-right">
            	<span class="price"><span class="badge badge-earn">EARN</span>$2</span>
            </div>
          </div>
          <div class="giveaway-crd-body">
            <h3 class="crd-title">Refer a Frind</h3>
            <p>Send 5 People to Affiliate Link</p>
          </div>
        </div>
        <p class="giveaway-crd-txt">And Share it On Social Media Platforms</p>
      </div>
      <div class="col-sm-4">
        <div class="giveaway-crd-wrap">
          <div class="giveaway-crd-head">
            <div class="crd-head-left">
            	<img class="img-responsive" src="https://i.imgur.com/KVJ1p6K.png">
            </div>
            <div class="crd-head-right">
            	<span class="price"><span class="badge badge-earn">EARN</span>$3</span>
            </div>
          </div>
          <div class="giveaway-crd-body">
            <h3 class="crd-title">Refer a Frind</h3>
            <p>Send 10 People to Affiliate Link</p>
          </div>
        </div>
        <p class="giveaway-crd-txt">And Share it On Social Media Platforms</p>
      </div>
      <div class="col-sm-4">
        <div class="giveaway-crd-wrap">
          <div class="giveaway-crd-head">
            <div class="crd-head-left">
            	<img class="img-responsive" src="https://i.imgur.com/KVJ1p6K.png">
            </div>
            <div class="crd-head-right">
            	<span class="price"><span class="badge badge-earn">EARN</span>$4</span>
            </div>
          </div>
          <div class="giveaway-crd-body">
            <h3 class="crd-title">Refer a Frind</h3>
            <p>Send 15 People to Affiliate Link</p>
          </div>
        </div>
        <p class="giveaway-crd-txt">And Share it On Social Media Platforms</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="text-center giveaway-full-txt">You can uplaod these on video on any platform like <br>youtube , facebook , instagram ,twitter, tiktok or any platform you like </p>
      </div>
    </div>
  </div>
</section>
<section id="give-txt-sec">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>1. You must not spam the same content everywhere , as all the submission will eb couted as one only </p>
        <p>2. The reward balance will be added in your account at after 25 days to avoid scammers</p>
        <p>3. the link/ platform you post your content should be relibe aand authentic ( spam links will result dismissal of the giveaway reward </p>
        <p>4. the post / video / blog / article should contain the link https://amzpro.in( you can also use your affilaite link )</p>
        <p>5 . Your content must be unique | copied content will not be rewarded </p>
        <p>This is our way to reward our popularsmm family who trust us and have been using our panel for personal and buisness use :)
Feel free to contact us on tickts or skype if you have any questions or suggenstions</p>
      </div>
    </div>
  </div>
</section>
<section id="sec7">
  <div class="container">
    <div class="row title-row">
      <div class="col-sm-12">
        <h3>2check<span class="out">out</span> <span>Secure Payment</span></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="">The most adaptable digital marketing platform that your business <br> can offer is real development.</p>
        <img class="img-responsive payment-logo" src="https://res.cloudinary.com/besabo/image/upload/v1586769125/smmwolrdpanel/compress/payment-logos.png" alt="payment-logo">
      </div>
    </div>

  </div>
  <div class="cloudy-wrap">
    <img class="boy-search" src="https://res.cloudinary.com/besabo/image/upload/v1586768125/smmwolrdpanel/compress/boysearch.png" alt="boy-search">
    <img class="coin1" src="https://res.cloudinary.com/besabo/image/upload/v1586768126/smmwolrdpanel/compress/coin.png" alt="coin1">
    <img class="coin2" src="https://res.cloudinary.com/besabo/image/upload/v1586768126/smmwolrdpanel/compress/coin.png" alt="coin2">
    <img class="boy-tblt" src="https://res.cloudinary.com/besabo/image/upload/v1586768127/smmwolrdpanel/compress/boy-tblt.png" alt="boy-tblt">
  </div>
  
</section>
<section id="sec9">
  <div class="container">
    <div class="row title-row">
      <div class="col-sm-12">
        <h3>Have Questions In Mind?<br>Let Us Help You.</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="news-letter">
          <form action="/">
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email">
            </div>
            <div class="form-group">
              <input type="submit" class="form-control" id="submit" aria-describedby="submit" value="Need Help?">
            </div>
          </form>
        </div>
      </div>
    </div>


  </div>
 
</section>
<section id="ready">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Ready to start with us?</h3>
      </div>
      <div class="col-sm-6">
       <a href="/signup" class=" joinBtn">Join us now</a>
      </div>
    </div>
  </div>
</section>


</div>
{% include 'footer.twig' %}