{% include 'header.twig' %}




<div class="app-content blog-inner">
    <div class="container">
        <section class="bi-head-wrapper">
            <div class="bi-head-box">
                <div class="bi-head-bg">
                    <img src="https://i.ibb.co/Gd3pDyD/ezgif-com-gif-maker.webp" alt="">
                </div>
                <div class="bi-head-content">
                    <div class="bi-cat-wrapper">
                        <a href="#" class="bi-cat">
                            upload
                        </a>
                    </div>
                    <div class="bi-title">
                        <h1>Service Terms</h1>
                    </div>
                </div>
            </div>
        </section>
     
        <section class="blog-content">
            <div class="card card-border">
                <div class="card-body p-4">
                    <div class="bi-content">
                        By placing an order with RESALE FOLLOWERS, you automatically accept all the terms of service listed below whether you have read or not.
<br>
We reserve the right to change these terms of service without notice.<br>

You are expected to read all terms of service before placing any order to ensure you are current with any changes or future changes.
<br>
<br>
1. Acceptance: By using our site and/or shopping with us (including purchases via E-mail or WhatsApp), you agree and accept our Terms of Use and all policies set out on it and/or elsewhere on the site.
It is important that you read our Terms carefully before using the site or purchasing from us, as by contracting any of our services you will be agreeing to the Terms.
We reserve the right to make changes to the Terms of Use whenever necessary, and you can find the most recent version on this page.
If the user does not agree with any of the rules described in these terms, the user must immediately refrain from using the service.
<br>
<br>
2. Services: The REVENDA FOLLOWERS website is characterized by the provision of digital marketing services on social networks.
Any product on the site is subject to price change or termination without notice and is intended for users over 18 years of age who own the beneficiary profile of the purchase.
By purchasing on our site, you affirm that you are 18 years of age or older and that you own or have authorization from the owner of the profile for which you are making the purchase.
<br>
<br>
3. Warranties and Limitations: The account that will receive the order must be in public mode, and it is not possible to send any of the site's services to profiles in private mode.
<br>
<br>
It is the customer's responsibility to verify that the profile or post is in public mode before placing an order. If an order is placed with a profile or posted in private, it will be considered completed, will be deducted from the customer's balance and no refund, cancellation or chargeback will be possible.
<br>
For the delivery of the service, it is essential that the user keep his profile "open" (public mode), otherwise the order will be cancelled.
<br>
<br>
If the social network for which you purchased a service performs an update, there may be a drop in the services purchased and the user may lose followers, likes, views and/or any other purchased service.
<br>
<br>
In the event of falls after receiving the order, the user can request a free replacement through the "Order History", and if this is not possible, within 30 days, 100% of the amount spent on the purchase of the service will be refunded.
<br>
It is only possible to request a replacement within the service replacement period. Each service has a different deadline.
<br>
Services described in the title with "SR" are not entitled to any replacement regardless of the amount of the fall or when it occurs.
<br>
<br>
When a service is contracted, we guarantee "SENDING THE PURCHASED QUANTITY", but we do not guarantee its permanence, much less "eternal permanence". Because, in any service, drops after delivery can happen due to several factors beyond our control, including social media updates or even unfollowed followers because they are real people and may not be interested in the content of your profile.
<br>
<br>
APPLICABLE LAW This Agreement and the relationship between you and the RESALE SEGUIDORES Panel will be governed and constructed in accordance with the laws of Brazil, regardless of its conflict of law provisions. You agree to submit to the personal and exclusive jurisdiction of federal and state courts located in Brazil, and to waive any legal, local or inconvenient objections to such courts.
                    <div class="bi-content">
                     {{ contentText }}
                  </div>
                </div>
            </div>
        </section>
       
        <section class="bi-about-cloutsy">
            <div class="card card-border">
                <div class="card-body p-4">
                    <div class="row align-items-center">
                        <div class="col-auto d-none d-lg-block">
                            <div class="bi-about-avatar">
                                <img src="https://cdn.smmspot.net/cloutsy/assets/img/avatar.png" alt="Avatar">
                            </div>
                        </div>
                        <div class="col-lg">
                            <h3 class="bia-title">Regarding the <span class="p-color">{{ site["site_name"]  }} </span></h3>
                            <p class="bia-text">
                                {{ site["site_name"]  }}  provides hundreds of services that will get you to your goal, such as
                                cheap high quality followers, subscribers, likes and views.
                            </p>
                        </div>
                        <div class="col-lg-auto mt-3 mt-lg-0">
                            <a href="/signup" class="btn btn-primary btn-border d-flex align-items-center">
                                <span>Sign up and get started today!</span>
                                <i class="ri-arrow-right-line ms-3"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


{% include 'footer.twig' %}